プロトタイプ-一覧表示機能
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProtoSpace</title>
  
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <script th:src="@{/packs/js/application.js}"></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
</head>

<body>

<!-- ヘッダー共通化 -->
<div th:insert="~{header :: header}"></div>

<main class="main">
  <div class="inner">

    <!-- あいさつ表示 -->
<div class="greeting" th:if="${user != null}">
  こんにちは、
  <span th:if="${user.name == 'ゲスト'}">
    ゲストさん
  </span>
  <span th:unless="${user.name == 'ゲスト'}">
    <a class="greeting__link" th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name} + 'さん'">ユーザー名</a>
  </span>
</div>

    <!-- プロトタイプ一覧の表示 -->
    <div class="contents row">
      <div th:each="protos : ${prototypes}">
        <div th:replace="~{prototypes/prototype :: content(protos=${protos})}"></div>
      </div>
    </div>

  </div>
</main>

<!-- フッター共通化 -->
<div th:insert="~{footer :: footer}"></div>

</body>
</html>
