<div class="card__wrapper">
  <div class="card" th:each="proto : ${prototypes}">
    <a th:href="@{'/protos/' + ${proto.id}}">
      <!-- 画像が存在する場合のみ表示 -->
      <img class="card__img" 
           th:src="@{${proto.image} != null ? '/uploads/' + ${proto.image} : '/images/default.jpg'}" 
           alt="プロトタイプ画像" />
    </a>
    <div class="card__body">
      <p class="card__title" th:text="${proto.name}">タイトル</p>

      <p class="card__summary" th:text="${proto.catchCopy}">キャッチコピー</p>
      <a class="card__user"
         th:href="@{'/users/' + ${proto.user.id}}"
         th:text="'by ' + ${proto.user.name}">
         by ユーザー名
      </a>
    </div>

      <p class="card__summary" th:text="${proto.catchcopy}">キャッチコピー</p>
<a class="card__user" 
   th:href="@{/users/{id}(id=${proto.user.id})}"
   th:text="'by ' + ${proto.user.name}">by ユーザー名</a>    

  </div>
</div>
