<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ProtoSpace - ログイン</title>
  <!--link rel="stylesheet" href="/assets/application.css" media="all"-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="inner">
      <div class="nav">
        <div class="nav__left">
          <a th:href="@{/}"><img class="logo" src="/images/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png" alt="ProtoSpace ロゴ"></a>
        </div>
        <div class="nav__right">
          <a class="nav__btn" th:href="@{/users/login}">ログイン</a>
          <a class="nav__btn" th:href="@{/users/sign_up}">新規登録</a>
        </div>
      </div>
    </div>
  </header>

  <div class="main">
    <div class="inner">
      <div class="form__wrapper">
        <h2 class="page-heading">ユーザーログイン</h2>
        <form th:action="@{/login}" method="post" th:object="${loginForm}">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

          <div class="field">
            <label for="email">メールアドレス</label><br>
            <input type="email" th:field="*{email}" id="email" autocomplete="email" autofocus="autofocus" />
          </div>

          <div class="field">
            <label for="password">パスワード（6文字以上）</label><br>
            <input type="password" th:field="*{password}" id="password" autocomplete="current-password" />
          </div>

          <div class="actions">
            <input type="submit" value="ログイン" class="form__btn" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="under">
    <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
  </footer>
</body>

</html>