<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProtoSpace</title>

  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <a href="/">
            <img class="logo" src="/images/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png">
            </a>
          </div>
            <div class="nav__right">
              <a class="nav__btn" href="/users/sign_in">ログイン</a>
              <a class="nav__btn" href="/users/sign_up">新規登録</a>
            </div>
        </div>
      </div>
    </header>
    <div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>
        <form action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="GfsMEvRcfqgdSH6K1T6TtZfZCwJkcsWKng7SHDAVEGgF2YHr20WahNqBq3i3DCeY0RWzl9DRU8Aza/UED1WhYg==" autocomplete="off">

        <div class="field">
          <label for="user_email">メールアドレス</label><br>
          <input autofocus="autofocus" autocomplete="email" type="email" value="" name="email" id="user_email">
        </div>

        <div class="field">
          <label for="user_password">パスワード（6文字以上）</label><br>
          <input autocomplete="new-password" type="password" name="password" id="user_password">
        </div>

        <div class="field">
          <label for="user_password_confirmation">パスワード再入力</label><br>
          <input autocomplete="new-password" type="password" name="password_confirmation" id="user_password_confirmation">
        </div>

        <div class="field">
          <label for="user_name">ユーザー名</label><br>
          <input type="text" name="name" id="user_name">
        </div>

        <div class="field">
          <label for="user_profile">プロフィール</label><br>
          <textarea class="form__text" name="profile" id="user_profile"></textarea>
        </div>

        <div class="field">
          <label for="user_group_name">所属</label><br>
          <textarea class="form__text" name="group_name" id="user_group_name"></textarea>
        </div>

        <div class="field">
          <label for="user_post">役職</label><br>
          <textarea class="form__text" name="post" id="user_post"></textarea>
        </div>

        <div class="actions">
          <input type="submit" name="commit" value="新規登録" class="form__btn" data-disable-with="新規登録">
        </div>
     </form>    
    </div>
  </div>
</div>
    <footer class="footer">
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>
  

</body>
  <div id="assetViewWebExtension3_elmId_fileUploadAstExtDiv" style="display: none;">
 </div>
</html>