.head{
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.body{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #3b4043;
  box-sizing: border-box;
}

.header {
    background-color: #f1f8fe;
    margin-bottom: 48px;
    padding: 20px 0;
}

.logo {
    width: 200px;
}

.img {
    max-width: 100%;
    vertical-align: bottom;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main{
  margin: 0px;
  padding: 0px;
  flex: 1; /* 中央のmainを伸ばしてfooterを下に押す */
}

.welcome {
     flex: 1;
     padding: 20px 40px 40px 40px;
}

.inner{
  width: 1024px;
  margin:0 auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
    .inner{
        width: 90%;
        margin: 0 auto;
    }
}


.nav__btn { /*新規登録とログインボタンの装飾*/
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.8em;
    color: #87CEFA;
    text-decoration: none;
    user-select: none;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    transition: 0.4s ease;
}

.form__wrapper {
    min-height: calc(100vh - 161px);
    margin: 0px 38.396px;
}

@media (max-width: 1024px) {
    .page-heading {
        font-size: 24px;
    }
}

.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}

.h2{
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

input[type="hidden" i] {
    display: none !important;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}

.field {
    margin: 10px 0;
}

label {
  cursor: default;
}

.form__text {
    width: 50%;
}

textarea {
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: -internal-textarea-auto;
    cursor: text;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    white-space: pre-wrap;
}

.action {
  margin-bottom: 40px;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

input[type="hidden" i] {
    display: none !important;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}

.form__btn {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.8em;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #87CEFA;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #999;
  padding: 10px 0;
  z-index: 1000; /* 他の要素より前面に */
  text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi : isolate;
}