<header class="header" xmlns:th="http://www.thymeleaf.org">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <a th:href="@{/}"><img class="logo" src=""></a>
      </div>

      <!-- ログイン済みユーザー向け -->
      <div class="nav__right" th:if="${#authorization.expression('isAuthenticated()')}">
        <form th:action="@{/logout}" method="post" style="display:inline-block">
          <input type="submit" class="nav__logout" value="ログアウト" />
        </form>
        <a class="nav__btn" th:href="@{/prototypes/new}">New Proto</a>
      </div>

      <!-- 未ログインユーザー向け -->
      <div class="nav__right" th:if="${#authorization.expression('!isAuthenticated()')}">
        <a class="nav__btn" th:href="@{/users/login}">ログイン</a>
        <a class="nav__btn" th:href="@{/users/sign_up}">新規登録</a>
      </div>
    </div>
  </div>
</header>

<header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <a href="/"><img class="logo" src="/images/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png"></a>
          </div>
            <div class="nav__right">
              <a class="nav__logout" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
              <a class="nav__btn" href="/prototypes/new">New Proto</a>
            </div>
        </div>
      </div>
    </header>
