<header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <a href="/"><img class="logo" src="/images/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png"></a>
          </div>
            <div class="nav__right">
              <a class="nav__logout" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
              <a class="nav__btn" href="/prototypes/new">New Proto</a>
            </div>
        </div>
      </div>
    </header>